.waterT{

    color:#2b1d42;
    font-size: 60px;
    font-family:sans-serif;
    font-weight: 600;
    text-shadow: rgb(12, 10, 0) 1px 0 8px;
    letter-spacing: 5px;


}

.parkT{
    color:#2b1d42;
    font-size: 60px;
    font-family:sans-serif;
    font-weight: 600;
    text-shadow: rgb(12, 10, 0) 1px 0 8px;
    letter-spacing: 5px;
}

.templeT{
    color:#2b1d42;
    font-size: 60px;
    font-family:sans-serif;
    font-weight: 600;
    text-shadow: rgb(12, 10, 0) 1px 0 8px;
    letter-spacing: 5px;
}